<!-- components/footer.html -->
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>© 2025 Tennis Analytics | An open-source project</p>
            </div>
            <div class="footer-right">
                <a href="https://github.com/sorukumar/TennisAnalytics">
                    <i class="fab fa-github"></i> GitHub
                </a>
                <a href="../index.html#visualizations">Visualizations</a>
                <a href="../index.html#about">About</a>
            </div>
        </div>
    </footer>
    <script src="../image/tennis-animation.js"></script>
</body>
</html>